@import './src/sass/main';

.collection {
    position: relative;
    @include display-flex();
    flex-flow: column;
    align-items: center;
    overflow: hidden;

    .actions {
        @extend %stickr-actions;
    }

    .sidebar-actions {
        margin: 20px 10px;
    }

    .packs {
        position: relative;
        z-index: 2;
    }

}