<section class="collection content-area" v-if="collection">
  <!-- Banner -->
  <div class="banner">
    <img :src="getCollectionURL(collection.slug)" alt="banner">
  </div>
  <h1 class="title" :data-text="collection.name" v-html="collection.name"></h1>
  <!-- /Banner -->

  <!-- Actions -->
  <div class="actions">
    <div class="button subscribe">Sub</div>
    <div class="button fav">Fav</div>
    <div class="button fav">Flag</div>
  </div>
  <!-- Actions -->

  <!-- Collection Details -->
  <div class="stats__group">
      <div class="stats__group__container tile">
        <h3 style="grid-column: span 2">Collection</h3>
        <div class="stat">Owned by: <router-link :to="{ name:'profile', params: { slug:collection.ownership } }" class="stat__value" v-html="collection.ownership"></router-link></div>
        <div class="stat">Created: <span class="stat__value" v-html="createdDate"></span></div>
        <div class="stat">Curators: 
          <div class="detail__list">
              <div v-for="(cur, i) in collection.curators" class="detail__value" >
                  <router-link :to="{ name:'profile', params: { slug:cur } }" v-html="cur"></router-link>
              </div>
          </div>
        </div>
      </div>
      <div class="stats__group__container tile" v-html="collection.description"></div>
    </div>
  <!-- /Collection Details -->

  <!-- Container -->
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <!-- Actions -->
      <div class="sidebar__group">
        <div class="sidebar__group__container sidebar-actions">
          <button class="styled">Open Daily Pack</button>
        </div>
      </div>
      <!-- /Actions -->
      <!-- Controls -->
      <div class="sidebar__group" v-show="true">
        <h2>Controls</h2>
        <div class="sidebar__group__container tile">
          <router-link :to="{ name:'collection-edit', params: { slug:'msc' } }" tag="a">Edit</router-link>
          <router-link :to="{ name:'collection-delete', params: { slug:'msc' } }" tag="a">Delete</router-link>
        </div>
      </div>
      <!-- /Controls -->
      <!-- Includes -->
      <div class="sidebar__group">
        <h2>Includes</h2>
        <div class="sidebar__group__container tile">
          <div class="stat">Normal Stickers: <span class="stat__value" v-html="'30'"></span></div>
          <div class="stat">Rare Stickers: <span class="stat__value" v-html="'3'"></span></div>
          <div class="stat">Exclusive Stickers: <span class="stat__value" v-html="'3'"></span></div>
        </div>
      </div>
      <!-- /Includes -->
      <!-- Global -->
      <div class="sidebar__group">
        <h2>Statistics</h2>
        <div class="sidebar__group__container tile">
          <div class="stat">Completionist: <span class="stat__value" v-html="'22.5%'"></span></div>
          <div class="stat">Collected By: <span class="stat__value" v-html="'2000'"></span> Users</div>
        </div>
      </div>
      <!-- /Global -->
      <!-- Packs -->
      <div class="sidebar__group">
        <h2>Packs</h2>
        <div class="sidebar__group__container tile cards packs">
          <router-link :to="{ name:'pack', params:{ slug:'slug-gems' } }" class="card tile" v-for="i in 5" :key="i">
            <div class="card__title">Slug Gems</div>
            <div class="card__image">
              <img src="../../assets/tests/pack-icon.png" alt="pack image">
            </div>
          </router-link>
        </div>
      </div>
      <!-- /Packs -->
    </aside>
    <!-- /Sidebar -->

    <!-- Main -->
    <section class="main">
      <!-- Previews -->
      <div class="previews">
        <!-- Exclusives -->
        <div class="group">
          <h2 class="group__title">Exclusive Stickrs</h2>
          <h3 class="group__amount">0/{{ exclusiveStickrs.length }}</h3>
          <div class="group__stickrs">
            <!-- Stickr -->
            <router-link :to="{ name:'stickr', params: { coll:stickr.slugCollection, slug:stickr.slug } }" tag="div" class="stickr" v-for="(stickr, i) in exclusiveStickrs" :key="i">
              <div class="stickr__image" :class="{'silhouette':stickr.hidden }"><img :src="getStickrURL(stickr.slugCollection, stickr.slug)" alt="stickr"></div>
              <h3 class="stickr__title" v-html="stickr.name" v-if="!stickr.hidden"></h3>
              <h3 class="stickr__title" v-else>???</h3>
              <div class="stickr__availability">
                  <div class="available__date">Available Until: January 2</div>
                  <div class="available__time">10:28pm AST</div>
              </div>
              <button>Collect</button>
              <div class="owned"></div>
            </router-link>
            <!-- /Stickr -->
          </div>
        </div>
        <!-- /Exclusives -->
        <!-- Rares -->
        <div class="group">
          <h2 class="group__title">Rare Stickrs</h2>
          <h3 class="group__amount">0/{{ rareStickrs.length }}</h3>
          <div class="group__stickrs">
            <!-- Stickr -->
            <router-link :to="{ name:'stickr', params: { coll:stickr.slugCollection, slug:stickr.slug } }" tag="div" class="stickr" v-for="(stickr, i) in rareStickrs" :key="i">
              <div class="stickr__image" :class="{'silhouette':stickr.hidden }"><img :src="getStickrURL(stickr.slugCollection, stickr.slug)" alt="stickr"></div>
              <h3 class="stickr__title" v-html="stickr.name" v-if="!stickr.hidden"></h3>
              <h3 class="stickr__title" v-else>???</h3>
              <button>Collect</button>
              <div class="owned"></div>
            </router-link>
            <!-- /Stickr -->
          </div>
        </div>
        <!-- /Rares -->
        <!-- Alls -->
        <div class="group other">
          <h2 class="group__title">Stickrs</h2>
          <h3 class="group__amount">0/{{ stickrs.length }}</h3>
          <div class="group__stickrs">
            <!-- Stickr -->
            <router-link :to="{ name:'stickr', params: { coll:stickr.slugCollection, slug:stickr.slug } }" tag="div" class="stickr" v-for="(stickr, i) in stickrs" :key="i">
              <div class="stickr__image" :class="{'silhouette':stickr.hidden }"><img :src="getStickrURL(stickr.slugCollection, stickr.slug)" alt="stickr"></div>
              <h3 class="stickr__title" v-html="stickr.name" v-if="!stickr.hidden"></h3>
              <h3 class="stickr__title" v-else>???</h3>
              <button>Collect</button>
              <div class="owned"></div>
            </router-link>
            <!-- /Stickr -->
          </div>
        </div>
        <!-- /Alls -->
      </div>
      <!-- /Previews -->
    </section>
    <!-- /Main -->

    <!-- Controls -->
    <div class="stats__group controls-alt" v-show="true">
      <h2>Controls</h2>
      <div class="stats__group__container tile">
        <router-link :to="{ name:'collection-edit', params: { slug:'msc' } }" tag="a">Edit</router-link>
        <router-link :to="{ name:'collection-delete', params: { slug:'msc' } }" tag="a">Delete</router-link>
      </div>
    </div>
    <!-- /Controls -->

  </div>
  <!-- /Container -->
</section>