@import '../../../sass/main';

.modify-stickr {
    position: relative;
    @include display-flex();
    flex-flow: column;

    .main-title {
        padding: 1px 7px;
        margin: 10px auto;
        font-size: 1.8em;
        text-align: center;
        box-sizing: border-box;
    }

    .banner {
        position: relative;
        padding: 0;
        border-radius: 0;
        min-height: 450px;

        input {
            display: none;
        }

        * { pointer-events: none; }

        &__image {
            opacity: 1;
            pointer-events: all;
            max-width: 800px;
            max-height: 800px;
            object-fit: contain;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
                transform: scale(1.1) rotateZ(2deg);
            }
        }

        &__loaded-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include display-flex();
            justify-content: center;
            align-items: center;
            background: $colour-bg-light;
            height: 450px;
            pointer-events: none;

            img {
                max-width: 450px;
                max-height: 450px;
                object-fit: cover;
            }
        }

        .uploading {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include display-flex();
            justify-content: center;
            align-items: center;
            background: white;
            pointer-events: none;
        }
    }

    .details {
        display: grid;
        grid-template-columns: repeat(150px, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 3px;
        margin-top: 10px;

        &__title {
            grid-column: span 2;
        }

        .detail {
            font-weight: bold;
            text-align: right;


            &__group {
                @include display-flex();
                flex-flow: column;
                justify-content: center;
                align-items: center;

                .item {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 4px;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 5px;

                    @media #{$size-large} {
                        grid-template-columns: 1fr 1fr 30px;
                    }

                    .value {
                        height: 28px;
                        box-sizing: border-box;
                    }

                    .delete {
                        height: 28px;
                        font-size: 1.2em;
                        border: solid 1px $colour-font-secondary;
                        cursor: pointer;
                        box-sizing: border-box;
                        margin: 0 35%;

                        @media #{$size-large} {
                            margin: 0;
                        }

                        &:hover {
                            transform: scale(1.1);
                            z-index: 2;
                        }
                    }
                }

                &__add {
                    align-self: flex-start;
                    border: solid 1px $colour-font-primary;
                    padding: 2px 6px;
                    font-size: 1.2em;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        z-index: 2;
                    }
                }
            }
        }
    }


    .submit {
        margin: 15px 0;
        font-size: 1.4em;
        
        button {
            padding:  5px 15px;
        }
    }


    .errors {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: $colour-primary;
        padding: 15px 35px;
        color: white;
    }


    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

}