<section class="stickr-main">

  <!-- Featured Container -->
  <div class="featured-container">
    <!-- Featured -->
    <div class="featured tile">
      <div class="featured__image">
        <img class="main" src="../../assets/tests/saint-edit.png" alt="featured">
        <!-- <img class="set" src="#" alt="set"> -->
      </div>
      <div class="featured__content">
        <router-link :to="{ name:'collection', params: { slug: 'msc' }}" tag="h2" class="title">MSC Saint Stickr!</router-link>
        <div class="description">Get this new stickr while it lasts!</div>
        <div class="timer">Available for <span class="time">0:30:29</span></div>
      </div>
    </div>
    <!-- /Featured -->

    <!-- Stickrs -->
    <div class="collection-group" v-if="stickrs">
      <div class="collection-group__head">
        <h1 class="title tile" data-text="Stickrs">Stickrs</h1>
        <button class="browse styled">Browse</button>
      </div>
      <div class="collection">

        <router-link :to="{ name:'stickr', params: { coll:stickr.slugCollection, slug:stickr.slug } }" tag="div" class="collection__item" v-for="(stickr, i) in stickrs" :key="i">
          <div class="collection__item__image" :class="{'silhouette':stickr.hidden }">
            <img :src="getStickrURL(stickr.slugCollection, stickr.slug)" alt="stickr">
          </div>
          <div class="collection__item__content tile">
            <div class="title" v-html="stickr.name" v-if="!stickr.hidden"></div>
            <div class="title" v-else>???</div>
            <div class="set" v-html="getStickrCollectionName(stickr.slugCollection)"></div>
          </div>
        </router-link>

      </div>
    </div>
    <!-- /Stickrs -->
    <!-- Collections -->
    <div class="collection-group set">
        <div class="collection-group__head">
          <h1 class="title tile" data-text="Collections">Collections</h1>
          <button class="browse styled">Browse</button>
        </div>
      <div class="collection">

        <router-link class="collection__item" v-for="(coll, i) in collections" :key="i" :to="{ name:'collection', params:{ slug:coll.slug } }" tag="div">
          <div class="collection__item__image">
            <img :src="getCollectionURL(coll.slug)" alt="collection">
          </div>
          <div class="collection__item__content tile">
            <div class="title" v-html="coll.name"></div>
            <div class="set">by <router-link :to="{ name:'profile', params:{ slug:coll.ownership } }" v-html="coll.ownership"></router-link></div>
          </div>
        </router-link>
      </div>

    </div>
    <!-- /Collections -->
  </div>
  <!-- /Featured Container -->

</section>